.side-bar{
    background-color: #FFFF;
    width: 10%;
    height: 100vh;
    position: fixed;
    top:4.8rem;
}

.side-bar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    margin-top: 10px;
    
}

.side-bar ul li{
    border-bottom: #D9D9D9 1px solid;
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.side-bar ul li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    padding-left: 55px;
}

.side-bar ul li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #F8B230;
    box-shadow: 0 0 5px #E69A1D;
    transition: ease-in-out 0.3s;
    transform-origin: left;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

.side-bar ul li:hover::after{
    width: 100%;
    transform: scaleX(1);
}

.side-bar ul li svg{
    position: absolute;
    left: 2rem;
    top: 35%;
    transform: translateY(-50%);
    fill: #000000;
}