/* Aplicamos todos os estilos ao elemento raiz (seja ele <button> ou <Link>) */
.mainButton {
    /* Propriedades comuns */
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer;
    margin-top: 15px;
    font-style: normal !important;
    background-image: linear-gradient(30deg, #f7c66d, #f69e10);
    color: white !important;
    border: none;
    display: block; 
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.mainButton:hover {
    background-image: linear-gradient(30deg, #f69e10, #E69A1D);
    box-shadow: 0 0 10px #E69A1D;
}