button {
    width: 100%;
    padding: 10px;
    background-color: #F8B230;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #E69A1D;
    box-shadow: 0 0 10px #E69A1D;
    transition: ease-in-out 0.3s;
}