.functions-container {
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.saldo-card{
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    border-radius: 10px 0px 0px 10px;
    width: 30rem;
    height: 15rem;
    justify-content: center;
    padding-left: 20px;
}

.saldo-card h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
    margin-top: 20px;
}

.saldo-card p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    color: #000000;
}

.functions-card{
    display: flex;
    background-color: #F5F5F5; 
    border-radius: 0px 10px 10px 0px;
    width: 30rem;
    height: 15rem;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-decoration: none;
}

.functions-card button{
    display: flex;
    background-color: #F5F5F5;
    border: #000000 2px solid;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.functions-card button:hover{
    background-color: #E0E0E0;
}

.functions-card .functions-button a {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

